.minus {
  border-right: 3px solid red;
}

.plus {
  border-right: 3px solid lightseagreen;
}

.del_button {
  background-color: red;
  color: #f9f9f9;
  width: 60px;
  padding: 2px;
  cursor: pointer;
}
